.contact-form-section {
	padding: 20rem 24rem 16rem 24rem;
	/* margin: 0 auto; */
	color: white;
	font-size: 2.4rem;
}

.contact-form-section h1 {
	margin-bottom: 4.8rem;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1rem;
	background-color: #210000;
	box-shadow: 4px 4px 24px 2px rgba(255, 35, 35, 0.8);
	padding: 4.8rem;
	border-radius: 12px;
}

.form-input {
	/* height: 3.2rem; */
	font-size: 2.4rem;
	margin-bottom: 2rem;
	border-radius: 6px;
	padding: 1rem;
	/* box-shadow: 4px 4px 24px 2px rgba(255, 35, 35, 0.8); */
	max-width: 100%;
}

.form-input:focus {
	outline: 4px solid #e60000;
}
