.gallery-section {
	padding: 16rem 24rem;
	/* margin: 0 auto; */
	color: white;
	font-size: 2.4rem;
}

.gallery-section h2 {
	margin: 12.8rem 0 4.8rem 0;
}

video {
	width: 100%;
	box-shadow: 4px 4px 24px 2px rgba(255, 35, 35, 0.5);
}

h1 {
	margin-bottom: 6.4rem;
	width: 2rem;
	transition: all 0.15s;
}

h1:hover {
	color: #e60000;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 3.6rem;
}

.item {
	position: relative;
	overflow: hidden;
	box-shadow: 4px 4px 16px 0px rgba(255, 35, 35, 0.3);
}

.item img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.2s;
}

.item img:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.item::after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.image-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
	visibility: hidden;
}

.image-viewer {
	max-width: 90%;
	border: 6px solid #e60000;
	background-color: #e60000;
	border-radius: 9px;
	position: relative;
	margin-top: 7rem;
}

.image-viewer img {
	width: 100%;
	max-height: 80vh;
	object-fit: cover;
	border-radius: 9px;
}
#image-prev {
	position: absolute;
	top: 50%;
	left: -1rem;
}

#image-next {
	position: absolute;
	top: 50%;
	right: -1rem;
}

#image-close {
	position: absolute;
	top: -1rem;
	right: -1rem;
}

.open .image-container {
	visibility: visible;
}

.viewer-btn {
	/* padding: 1rem 1rem; */
	font-size: 3rem;
	background-color: #e60000;
	border: 2px solid #b80000;
	border-radius: 6px;
	box-shadow: 4px 4px 24px 2px rgba(255, 35, 35, 0.8);
	transition: all 0.15s;
	color: black;
	width: 3.4rem;
	height: 3.4rem;
}

.viewer-btn:hover {
	cursor: pointer;
	background-color: #b80000;
}

.viewer-btn:active {
	transform: scale(0.95);
}
