*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* 62.5% of 16px = 10px */
	/* 1 REM */
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #170000;
}

/* default font sizes */
h1 {
	font-size: 6rem;
}

h2 {
	font-size: 3.6rem;
}

p {
	font-size: 2rem;
	line-height: 1.6;
}

.highlight {
	color: #e60000;
}

.btn {
	display: block;
	text-decoration: none;
	font-size: 2rem;
	color: white;
	background-color: #e60000;
	padding: 1.6rem 3.2rem;
	border-radius: 8px;
	box-shadow: 4px 4px 16px -4px rgba(255, 63, 63, 0.8);
	transition: all 0.15s;
	border: none;
}

.btn:hover {
	background-color: #b80000;
}

/* HEADER */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7rem;
	padding: 0 4rem;
	position: fixed;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(7px);
	z-index: 10;
}

.header-logo-link {
	height: 60%;
}

.header-logo {
	height: 100%;
}

.header-nav {
	font-size: 2.6rem;
	display: flex;
	gap: 3.2rem;
}

.header-link {
	text-decoration: none;
	color: white;
	transition: color 0.15s;
}

.header-link:hover {
	color: #e60000;
}

/* Footer */
.footer {
	min-height: 24rem;
	background-color: #170000;
	padding: 0 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2.4rem;
}

.footer-logo {
	height: 4rem;
}

.footer-text {
	color: white;
	font-size: 1.6rem;
}

.footer-info {
	color: white;
}

.github-link {
	color: #aaa;
	font-size: 1.6rem;
	transition: color 0.15s;
}

.github-link:hover {
	color: white;
}
