h1 {
	margin-bottom: 64px;
}

.link {
	color: #000;
	text-decoration: none;
	font-size: 32px;
	font-weight: 700;
	background-color: #fff;
	border-radius: 8px;
	padding: 0.6em 1.2em;
}

.link:hover {
	color: #222;
	background-color: #ccc;
}

.link:active {
	color: #444;
	background-color: #aaa;
}
